table  {border-collapse:collapse;border-spacing:0;margin:0px auto;}
td{font-family:Arial, sans-serif;font-size:14px;padding:16px 20px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:16px 20px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
